.video-course {
  color: #ffffff;
  font-size: 18px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  height: 23px;
  width: 118px;
  padding: 0px;
  margin-left: 44px;
}
.logoimage {
  height: 35px;
  width: 35px;
  margin-top: -7px;
}
